.navbar{
    height: 100px;
   background-color: rgb(59, 59, 158);
}
.nav-heading{
    margin-left: 160px;
    color: white;
}
.d-flex{
    margin-right: 200px;
}
.link{
    color: white;
    margin-left: 10px;
}
.nav{
    margin-left: 200px;
}

.banner-container{
    width: 100%;
    height: auto;
    background-color: rgb(59, 59, 158);
    border-top: .3px solid rgb(66, 100, 134);
    color: white;
    display: flex;
    
    align-items: center;
    justify-content: center;

}
.text-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 90vh;
    max-width: 50vh;
}
.text-side p{
    margin-top: 20px;
}
.text-side button{
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    background-color: rgb(176, 176, 0);
}
.image-side{
    width: 50%;
    height: 90vh;
    display: flex;
    margin-left: 90px;
    align-items: center;
    justify-content: center;

}
.image-side img{
    width: 400px;
}

.footer {
    width: 100%;
  height: 300px;
    display: flex;
    margin-top: 50px;
  }
  .footer-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .footer-text h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    
  }
  .footer-text h5 {
      margin-top: 20px;
      line-height: 1.6;
    text-align: left;
    font-weight: 400;
  }
  @media only screen and (max-width: 991px){
  .footer-table{
   
    display: flex;
    align-items: center;
    justify-content: center;
  }}
  @media only screen and (max-width: 991px){
    .footer{
      height: 600px;
    }
  }
  th {
    padding: 20px;
  }
  
  td {
    font-size: 11px;
    letter-spacing: 0.7px;
    padding: 5px;
  }
  td img {
    
    width: 100px;
    height: 60px;
    
  }
  